.main-header {
	background-color: $white;
	overflow: visible;
	position: relative;

	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 6px;
		@extend .brand-gradient;
	}
	// &:before

	hr {
		display: block;
		content: '';
		width: 100%;
		height: 2px;
		@extend .brand-gradient;
		border: none;
		margin: 0;
	}
	// hr
}
// .main-header
