.main-header {
	background-color: $white;
	overflow: visible;
	position: relative;

	> nav {

		&:before {
			display: block;
			content: '';
			width: 100%;
			height: 6px;
			@extend .brand-gradient;
		}
		// &:before
	}
	// > nav

	.menu-item {

		&.current-menu-item {

			.menu-link {
				color: $brand-red;
			}
			// .menu-link
		}
		// &.current-menu-item
	}
	// .menu-item

	hr.brand-gradient {
		height: 2px;
	}
	// hr.brand-gradient
}
// .main-header
