.main-header {
	background-color: $white;
	overflow: visible;
	position: relative;

	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 6px;
		@extend .brand-gradient;
	}
	// &:before

	hr.brand-gradient {
		height: 2px;
	}
	// hr.brand-gradient
}
// .main-header
