.grid {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
// .grid

.col {
	margin-bottom: 50px;

	@include media-breakpoint-up(md) {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	&:first-child {

		@include media-breakpoint-up(md) {
			padding-left: 0;
		}
	}
	// &:first-child

	&:last-child {
		margin-bottom: 0;

		@include media-breakpoint-up(md) {
			padding-right: 0;
		}
	}
	// &:last-child

	&:only-child {
		flex: 0 0 100%;
		width: 100%;
	}
	// &:only-child
}
// .col

.col-33 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(33.33333% - 5px);
		width: calc(33.33333% - 5px);
		margin-bottom: 0;
	}
}
// .col-33

.col-50 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 50%;
		width: 50%;

		&:last-child {
			padding-right: 15px;
		}
		// &:last-child

		&:nth-last-child(2) {
			margin-bottom: 0;
		}
		// &:nth-last-child(2)

		&:nth-child(odd) {
			padding-left: 0;
		}
		// &:nth-child(odd)

		&:nth-child(even) {
			padding-right: 0;
		}
		// &:nth-child(even)
	}
}
// .col-50

.col-66 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(66.66667% + 5px);
		width: calc(66.66667% + 5px);
		margin-bottom: 0;
	}
}
// .col-66
