.grid {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
// .grid

.col {
	box-sizing: content-box;
	margin-bottom: 30px;

	@include media-breakpoint-up(md) {
		padding: 0 15px;
	}

	&:first-child {

		@include media-breakpoint-up(md) {
			padding-left: 0 !important;
		}
	}
	// &:first-child

	&:last-child {
		margin-bottom: 0 !important;

		@include media-breakpoint-up(md) {
			padding-right: 0 !important;
		}
	}
	// &:last-child

	&:only-child {
		flex: 0 0 100%;
		width: 100%;
	}
	// &:only-child
}
// .col

.col-50 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(50% - 9px);
		width: calc(50% - 9px);
		padding: 0 9px;

		&:last-child {
			padding-right: 9px !important;
		}
		// &:last-child

		&:nth-last-child(2) {
			margin-bottom: 0 !important;
		}
		// &:nth-last-child(2)

		&:nth-child(odd) {
			padding-left: 0 !important;
		}
		// &:nth-child(odd)

		&:nth-child(even) {
			padding-right: 0 !important;
		}
		// &:nth-child(even)

		&:only-child {
			flex: 0 0 50%;
			width: 50%;
		}
		// &:only-child
	}
	@include media-breakpoint-up(xl) {
		flex: 0 0 calc(50% - 15px);
		width: calc(50% - 15px);
		padding: 0 15px;

		&:last-child {
			padding-right: 15px !important;
		}
		// &:last-child

		&:nth-child(even) {
			padding-right: 0 !important;
		}
		// &:nth-child(even)
	}
}
// .col-50

.col-33 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(33.33333% - 12px);
		width: calc(33.33333% - 12px);
		padding: 0 9px;

		&:nth-child(3n) {
			padding-right: 0 !important;
		}
		// &:nth-child(3n)

		&:nth-child(3n + 4) {
			padding-left: 0 !important;
		}
		// &:nth-child(3n + 1)

		&:only-child {
			flex: 0 0 calc(33.33333% - 12px);
			width: calc(33.33333% - 12px);
		}
		// &:only-child

		&:nth-last-child(2),
		&:nth-last-child(3) {
			margin-bottom: 0 !important;
		}
		// &:nth-last-child(2), &:nth-last-child(3)
	}
	@include media-breakpoint-up(xl) {
		flex: 0 0 calc(33.33333% - 20px);
		width: calc(33.33333% - 20px);
		padding: 0 15px;

		&:only-child {
			flex: 0 0 calc(33.33333% - 20px);
			width: calc(33.33333% - 20px);
		}
		// &:only-child
	}
}
// .col-33

.col-66 {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(66.66667% - 6px);
		width: calc(66.66667% - 6px);
		padding: 0 9px;
		margin-bottom: 0 !important;

		&:only-child {
			flex: 0 0 calc(66.66667% - 6px);
			width: calc(66.66667% - 6px);
		}
		// &:only-child
	}
	@include media-breakpoint-up(xl) {
		flex: 0 0 calc(66.66667% - 10px);
		width: calc(66.66667% - 10px);
		padding: 0 15px;

		&:only-child {
			flex: 0 0 calc(66.66667% - 10px);
			width: calc(66.66667% - 10px);
		}
		// &:only-child
	}
}
// .col-66

.col-main {

	@include media-breakpoint-up(md) {
		flex: 1 1 calc(100% - 300px);
		width: calc(100% - 300px);

		&:first-child {
			padding-right: 15px;
		}
		// &:first-child

		&:last-child {
			padding-left: 15px;
		}
		// &:last-child
	}
	@include media-breakpoint-up(lg) {
		flex: 1 1 calc(100% - 385px);
		width: calc(100% - 385px);
	}
}
// .col-main

.col-sidebar {

	@include media-breakpoint-up(md) {
		flex: 0 0 300px;
		width: 300px;

		&:first-child {
			padding-right: 15px;
		}
		// &:first-child

		&:last-child {
			padding-left: 15px;
		}
		// &:last-child
	}
	@include media-breakpoint-up(lg) {
		flex: 0 0 385px;
		width: 385px;
	}
}
// .col-sidebar
