.grid {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-direction: row;
		justify-content: space-between;
	}
}
// .grid

.col {
	padding: 0 22px;
	margin-bottom: 50px;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(33.33333% - 15px);
		width: calc(33.33333% - 15px);
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
	}

	&.bg-white {
		padding-top: 19px;
		padding-bottom: 22px;

		@include media-breakpoint-up(md) {
			padding: 19px 34px;
		}
	}
	// &.bg-white

	&:only-child {
		flex: 0 0 100%;
		width: 100%;
	}
	// &:only-child

	&:last-child {
		margin-bottom: 0;
	}
	// &:last-child
}
// .col

.col-2x {
	@extend .col;

	@include media-breakpoint-up(md) {
		flex: 0 0 calc(66.66667% - 15px);
		width: calc(66.66667% - 15px);
	}
}
// .col-2x
