/**
 * Fonts
*/

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro Condensed';
	src: url('../fonts/DINPro-CondensedMedium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro Condensed';
	src: url('../fonts/DINPro-CondensedBold.ttf');
	font-weight: 700;
	font-style: normal;
}

$font-primary: 'DIN Pro', Arial, non-serif;
$font-secondary: 'DIN Pro Condensed', Arial, non-serif;

body {
	font: {
		family: $font-primary;
		size: 16px;
	}
	line-height: 1.1;
}
// body
