.visually-hidden {
	width: 1px !important;
	height: 1px !important;
	clip: rect(1px,1px,1px,1px);
	white-space: nowrap;
	overflow: hidden;
	position: absolute !important;
}
// .visually-hidden

.mobile-only {

	@include media-breakpoint-up(md) {
		display: none;
	}
}
// .mobile-only

.desktop-only {

	@include media-breakpoint-down(md) {
		display: none;
	}
}
// .desktop-only

.brand-gradient {
	background: linear-gradient(270deg, $brand-red 0%, #098DD7 100%);
}
// .brand-gradient

.bg-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
// .bg-img

.bg-white {
	background-color: $white;
}
// .bg-white

.bottom-gradient {
	display: inline-block;

	&:after {
		@extend .brand-gradient;
		display: block;
		content: '';
		width: 100%;
		height: 1px;
	}
	// &:after
}
// .bottom-gradient
