.section-news {

	> .container {

		> .grid {

			> .col-33 {
				margin-bottom: 50px;
			}
			// > .col-33

			.grid {

				@media all and (orientation: landscape) and (min-width: 600px) and (max-width: 767px) {
					flex-flow: row wrap;
				}

				.col-50 {

					@media all and (orientation: landscape) and (min-width: 600px) and (max-width: 767px) {
						@include col-50-in-row;
					}
				}
				// .col-50
			}
			// .grid
		}
		// > .grid
	}
	// > .container

	.post-list {

		&.bg-white {
			height: 100%;
		}
		// &.bg-white
	}
	// .post-list
}
// .section-news
