<div id="pageWrapper" class="page-wrapper">

	<header class="main-header">

		<!-- Mobile Header -->
		<nav class="main-navigation-mobile" aria-label="Main">

			<div class="container">

				<!-- Mobile Logo -->
				<a class="logo" href="/">
					<img class="logo-image" src="assets/img/Moscow-Changes_logo.png" width="106" height="36" alt="Москва меняется">
				</a>

				<!-- Mobile Hamburger -->
				<button id="collapsibleMenuMobileTrigger" class="hamburger" type="button" aria-expanded="false" aria-controls="collapsible-menu-mobile">
					<span class="visually-hidden">Toggle Menu</span>
					<span class="hamburger-line"></span>
				</button>

			</div><!-- .container -->

			<!-- Mobile Collapsible Panel -->
			<div id="mobileMenuPanel" class="mobile-menu-collapsible-panel">

				<!-- Mobile Primary Navigation Menu -->
				<ul class="menu" id="navigationPrimaryMobile">
					<li class="menu-item current-menu-item">
						<a class="menu-link" href="javascript:void(0);">Новости</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Моя Москва</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Репортаж</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Фотогалерея</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Блоги</a>
					</li>
				</ul><!-- #navigationPrimaryMobile -->

				<!-- Mobile Secondary Navigation Menu -->
				<ul class="menu" id="navigationSecondaryMobile">
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Архив газеты pdf</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">О проекте</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Контакты</a>
					</li>
				</ul><!-- #navigationSecondaryMobile -->

				<hr class="brand-gradient">

				<!-- Mobile Search Form -->
				<form role="search" method="get" id="searchFormMobile" class="search-form" action="" >
					<input type="text" value="" name="" placeholder="Поиск" />
					<input type="submit" id="searchFormMobileSubmit" />
				</form>

				<!-- Mobile Social Links -->
				<ul class="social-links">
					<li>
						<a href="javascript:void(0);">
                                    <span class="icon icon-telegram">
                                        <span class="visually-hidden">Наш Телеграм-канал</span>
                                    </span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
                                    <span class="icon icon-youtube">
                                        <span class="visually-hidden">Наш YouTube-канал</span>
                                    </span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
                                    <span class="icon icon-vk">
                                        <span class="visually-hidden">Мы ВКонтакте</span>
                                    </span>
						</a>
					</li>
				</ul><!-- .social-links -->

			</div><!-- .mobile-menu-collapsible-panel -->

		</nav><!-- .main-navigation-mobile -->

		<!-- Desktop Header -->
		<nav class="main-navigation-desktop" aria-label="Main">

			<div class="container">

				<!-- Desktop Logo -->
				<a class="logo" href="/">
					<img class="logo-image" src="assets/img/Moscow-Changes_logo.png" alt="Москва меняется">
				</a>

				<!-- Desktop Primary Navigation Menu -->
				<ul class="menu" id="navigationPrimaryDesktop">
					<li class="menu-item current-menu-item">
						<a class="menu-link" href="javascript:void(0);">Новости</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Моя Москва</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Репортаж</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Интервью</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="gallery.html">Фотогалерея</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="javascript:void(0);">Блоги</a>
					</li>
				</ul><!-- #navigationPrimaryDesktop -->

				<a href="" id="searchFormDesktopTrigger" class="search-form-trigger" aria-expanded="false">
					<span class="icon icon-search"></span>
				</a><!-- #searchFormDesktopTrigger -->

				<button id="collapsibleMenuDesktopTrigger" class="hamburger" type="button" aria-expanded="false" aria-controls="collapsible-menu-desktop">
					<span class="visually-hidden">Toggle Menu</span>
					<span class="hamburger-line"></span>
				</button><!-- #collapsibleMenuDesktopTrigger -->

			</div><!-- .container -->

		</nav>
		<!-- .main-navigation-desktop -->

		<!-- Desktop Search Form -->
		<form role="search" method="get" id="searchFormDesktop" class="search-form search-form-desktop" action="" >
			<input type="text" value="" name="" placeholder="Поиск" />
			<input type="submit" id="searchFormDesktopSubmit" />
		</form>

		<!-- Desktop Collapsible Panel -->
		<div id="desktopMenuPanel" class="desktop-menu-collapsible-panel">

			<!-- Desktop Secondary Navigation Menu -->
			<ul class="menu" id="navigationSecondaryDesktop">
				<li class="menu-item">
					<a class="menu-link" href="javascript:void(0);">Архив газеты pdf</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="javascript:void(0);">О проекте</a>
				</li>
				<li class="menu-item">
					<a class="menu-link" href="javascript:void(0);">Контакты</a>
				</li>
			</ul><!-- #navigationSecondaryDesktop -->

			<hr class="brand-gradient">

			<!-- Desktop Social Links -->
			<ul class="social-links">
				<li>
					<a href="javascript:void(0);">
                                            <span class="icon icon-telegram">
                                                <span class="visually-hidden">Наш Телеграм-канал</span>
                                            </span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
                                            <span class="icon icon-youtube">
                                                <span class="visually-hidden">Наш YouTube-канал</span>
                                            </span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
                                            <span class="icon icon-vk">
                                                <span class="visually-hidden">Мы ВКонтакте</span>
                                            </span>
					</a>
				</li>
			</ul><!-- .social-links -->

		</div><!-- .desktop-menu-collapsible-panel -->

	</header><!-- .main-header -->
